asttokens==2.4.1
astunparse==1.6.3
boto3==1.33.13
botocore==1.33.13
braceexpand==0.1.7
brotlipy==0.7.0
certifi==2023.7.22
charset-normalizer==3.3.2
dataclasses==0.6
decord==0.6.0
einops==0.6.1
fsspec==2023.1.0
future==1.0.0
huggingface-hub==0.16.4
jmespath==1.0.1
mindspore==2.2.14
mkl-fft==1.3.1
mkl-service==2.4.0
opencv-contrib-python==4.9.0.80
packaging==24.0
protobuf==4.24.4
psutil==5.9.8
python-dateutil==2.9.0.post0
pytorch-pretrained-bert==0.6.2
regex==2024.4.16
requests==2.31.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.8.2
safetensors==0.4.3
timm==0.9.12
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchvision==0.8.0
tqdm==4.66.2
transformers==4.30.2
urllib3==1.26.18
webdataset==0.2.86

